# Core Verification

Deprecated, please see [light-client/verification](https://github.com/KYVENetwork/cometbft/v37/blob/v0.37.x/spec/light-client/verification).
