# Core Verification

Deprecated, please see [light-client/verification](https://github.com/KYVENetwork/cometbft/v38/blob/v0.38.x/spec/light-client/verification).
